/*----------------------------------------------------------------------------
	colorscheme.css for colorscheme 1

	this css-file contains all definitions, that depend on the colorscheme.

	(c) Schlund + Partner AG
----------------------------------------------------------------------------*/

/*-- main container --------------------------------------------------------*/

#container {
    /*background : url(images/static/contentbg.gif) repeat-y;*/

    background-color: #ffffff;
}

/*--- header ---------------------------------------------------------------*/

#header {
    background: no-repeat;
    background-image: url(images/static/headerbg.gif);
}

/*--- key visiual ----------------------------------------------------------*/

#key_visual {
    background: no-repeat;
}

/*--- logo -----------------------------------------------------------------*/

#logo {
    background: no-repeat top right;
}

/*--- caption --------------------------------------------------------------*/

#slogan {
    background-image: url(images/static/slogan_bg.gif);
}

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
    background-image: url(images/static/menubg.gif);
}

/*--- main navigation items ------------------------------------------------*/

a.main_nav_item {
    background: no-repeat;
    background-position: top left;
}

a.main_nav_item:hover {
    background: repeat-x;
    background-position: top left;
}

a.main_nav_active_item {
    background: repeat-x;
    background-position: top left;
}

/*--- subnavigation items --------------------------------------------------*/

.sub_nav_container {
    /* background : url(images/static/submenu_bg.gif) bottom right no-repeat;*/

    background-color: #ffffff;
}

a.sub_nav_item {
    background: no-repeat;
}

a.sub_nav_item:hover {
    background: no-repeat;
}

a.sub_nav_active_item {
    background: no-repeat;
}

/*--- footer ---------------------------------------------------------------*/

#footer {
    background-color: #ffffff;
}

/*----------------------------------------------------------------------------
  default-styles for html-elements
----------------------------------------------------------------------------*/

/*--- body -----------------------------------------------------------------*/

body#main_body {
    background-image: url(images/static/pagebg.gif);
}

/*--- paragraph ------------------------------------------------------------*/

.content {
    color: #4C5871;
}

.content table {
    color: #4C5871;
    border-color: #989898;
}

.content select {
    color: #4C5871;
}

.content input {
    color: #4C5871;
    border-color: #989898;
}

.content textarea {
    color: #4C5871;
    border-color: #989898;
}

/*--- headings -------------------------------------------------------------*/

/*--- links ----------------------------------------------------------------*/

/*--- tables ---------------------------------------------------------------*/

.content th {
    color: #ffffff;
    background-color: #989898;
    border-color: #989898;
}

.content td {
    border-color: #989898;
}

.content tr.odd {
    color: #6E6E6E;
    background-color: #ffffff;
}

.content tr.even {
    color: #6E6E6E;
    background-color: #E6E6E6;
}

/*--- forms ----------------------------------------------------------------*/

.content fieldset {
    border-color: #3C3C3C;
}

.content legend {
    color: #3C3C3C;
}

.content label {
    color: #3C3C3C;
}

.content #submit {
    background-color: #F2F2F2;
    border-color: #B8B8B8;
    color: #587201;
}

/*--------------------------------------------------------------------------*/

#weblog_calendar caption {
    color: #7A7A7A;
}

